<%= link_to 'New content', new_content_path %>

<h1>Contents</h1>

<ul>
<% @contents.each do |content| %>

  <li>

    <%= link_to 'Edit', edit_content_path(content) %>
    <%= link_to 'Show', content_path(content) %>
    <%= link_to 'Remove', content_path(content), method: :delete, data: { confirm: 'Are you sure?' } %>
    <strong>Title:</strong> <%= content.title %>
    <strong>Description:</strong> <%= content.description %>
    <strong>Tags:</strong> <%= content.tags.pluck(:name).join(' | ') %>
  </li>
<%end%>
</ul>
